<style>
body {
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  background: rgb(88,137,171);
  background: linear-gradient(90deg, rgba(88,137,171,1) 0%, rgba(205,244,250,1) 100%);
}
#textbox{
    height:45px;
    font-size:14pt;
    font-family: monospace;
}
</style>
<body>

<h1 style="font-size:350%;text-align:center;">  diagnosis.ai </h1>
<center>
<div style="font-size:300%;">
<form action="calculate" method="post">
    <table>

  <tr>
    <td>Pregnancies</td>
    <td><input id="textbox" type="number" name="Pregnancies" value="" required></td>
    <td># of pregnancies</td>
  </tr>
  <tr>
    <td>Glucose</td>
    <td><input id="textbox" type="number" name="Glucose" value="" required></td>
    <td>mm/dL - average: 99</td>
  </tr>
  <tr>
    <td>Blood Pressure</td>
    <td><input id="textbox" type="number" name="BloodPressure" value="" required></td>
    <td>mmHg - average: 120</td>
  </tr>
  <tr>
    <td>Skin Thickness</td>
    <td><input id="textbox" type="number" name="SkinThickness" value="" required></td>
    <td>μm - average: 25</td>
  </tr>
  <tr>
    <td>Insulin</td>
    <td><input id="textbox" type="number" name="Insulin" value="" required></td>
    <td>pmol/L - resting: 2 to 20 </td>
  </tr>
  <tr>
    <td>BMI</td>
    <td><input id="textbox" type="number" name="BMI" value="" required></td>
    <td>healthy BMI: 18.5 to 24.9</td>
  </tr>
<tr>
    <td>Diabetes Pedigree <br> Function</td>
    <td><input id="textbox" type="number" name="DiabetesPedigreeFunction" value="" required></td>
    <td>Out of your 4 grandparents and 2 parents, <br>
      enter the number who are diabetic</td>
  </tr>
    <tr>
    <td>Age</td>
    <td><input id="textbox" type="number" name="Age" value="" required></td>
  </tr>

  </tr>
    <tr>
      <td></td>
    <td>
      <center>
    <label style="color: powderblue; font-size:0%"> Age</label>
    <input id="textbox" type="submit" value="Calculate">
        </center>
    </td>
    <td></td>
  </tr>
</table>



</form>
</div>
</center>
</body>