<h1>diagnosis.ai</h1>

<form action="calculate" method="post">
    <label> Pregnancies </label>
    <input type="number" name="Pregnancies" value="" required>
    <br>

    <label> Glucose </label>
    <input type="number" name="Glucose" value="" required>
    <br>

    <label> BloodPressure </label>
    <input type="number" name="BloodPressure" value="" required>
    <br>

    <label> SkinThickness </label>
    <input type="number" name="SkinThickness" value="" required>
    <br>

    <label> Insulin </label>
    <input type="number" name="Insulin" value="" required>
    <br>

    <label> BMI </label>
    <input type="number" name="BMI" value="" required>
    <br>

    <label> DiabetesPedigreeFunction </label>
    <input type="number" step="0.01" name="DiabetesPedigreeFunction" value="" required>
    <br>

    <label> Age           </label>
    <input type="number" name="Age" value="" required>
    <br>

    <input type="submit" value="Calculate">
</form>